# CONEXIO STRATUS PRO board configuration
#
# Copyright (c) 2024 Conexio Technologies, Inc
# SPDX-License-Identifier: Apache-2.0

config BOARD_CONEXIO_STRATUS_PRO
	select SOC_NRF9161_LACA if BOARD_CONEXIO_STRATUS_PRO_NRF9161 || BOARD_CONEXIO_STRATUS_PRO_NRF9161_NS
	select SOC_NRF9151_LACA if BOARD_CONEXIO_STRATUS_PRO_NRF9151 || BOARD_CONEXIO_STRATUS_PRO_NRF9151_NS
