/*
 * Copyright (c) 2023 Achim Kraus CloudCoap.net
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http: //www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 */

/*
 * Usage:
 *
 * west build -d build_nrf9160dk_nrf9160_ns -b nrf9160dk_nrf9160_ns --pristine -- \
 *    -DOVERLAY_CONFIG="hivescale-prj.conf" -DDTC_OVERLAY_FILE="hivescale-dk.overlay"
 */

#include "boards/nrf9160dk_nrf9160_ns.overlay"

&pinctrl {

	i2c1_default: i2c1_default {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 23)>,
					<NRF_PSEL(TWIM_SCL, 0, 24)>;
		};
	};

	i2c1_sleep: i2c1_sleep {
		group1 {
			psels = <NRF_PSEL(TWIM_SDA, 0, 23)>,
					<NRF_PSEL(TWIM_SCL, 0, 24)>;
			low-power-enable;
		};
	};
};

/ {
	/* Map the devices to the aliases of the application. */
	aliases {

		scale-a = &scale_a;
		scale-b = &scale_b;
	};

};

&uart1 {
	status = "disabled";
};

&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	eeprom_a: eeprom@50 {
		/* AT24HC04B (4 kbit eeprom) */
		/* 0x8000 config register not accessible! If required, set size to 64K */
		compatible = "atmel,at24";
		reg = <0x50>;
		size = <512>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
	};

	scale_a: scale@2a {
		compatible = "nau7802-scale";
		reg = <0x2a>;
		avref_mv = <2700>;
		gain = <64>;
		calibration_storage = <&eeprom_a>;
	};


};

&i2c2 {
	clock-frequency = <I2C_BITRATE_STANDARD>;

	eeprom_b: eeprom@50 {
		/* AT24HC04B (4 kbit eeprom) */
		/* 0x8000 config register not accessible! If required, set size to 64K */
		compatible = "atmel,at24";
		reg = <0x50>;
		size = <512>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
	};

	scale_b: scale@2a {
		compatible = "nau7802-scale";
		reg = <0x2a>;
		avref_mv = <2700>;
		gain = <64>;
		calibration_storage = <&eeprom_b>;
	};
};
