/*
 * Copyright (c) 2025 Achim Kraus CloudCoap.net
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http: //www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0
 */

/*
 * Usage:
 *
 * Usage (NCS 2.9.1):
 *
 * west build -d build_conexio_stratus_pro_nrf9161_ns -b conexio_stratus_pro/nrf9161/ns --pristine -- \
 *    -DOVERLAY_CONFIG="60min0-prj.conf;uart-prj.conf;hivescale-prj.conf" \
 *    -DDTC_OVERLAY_FILE="hivescale-conexio61.overlay" -DCONFIG_BATTERY_TYPE_ENELOOP_2000_MAH=y
 */

#include "boards/conexio_stratus_pro_nrf9161_ns.overlay"

&i2c2 {

	eeprom_a: eeprom@50 {
		/* AT24HC04B (4 kbit eeprom 512x8 bit) */
		/* NOTE: the 9th address bit collides with the 0x51 of the feather clock chip. */
		compatible = "atmel,at24";
		reg = <0x50>;
		size = <512>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
	};

	scale_a: scale@2a {
		compatible = "nau7802-scale";
		reg = <0x2a>;
		avref_mv = <2700>;
		ext_avref_mv = <0>;
		gain = <32>;
		min_divider = <500>;
		max_dither = <50>;
		internal_oscilator;
		pga_cap;
//		calibration_storage = <&eeprom_a>;
	};

};

/    {

	aliases {
		scale-a = &scale_a;
//		/delete-property/ regulator-3v3; 
	};

};
