/*
 * Copyright (c) 2023 Achim Kraus CloudCoap.net
 *
 * See the NOTICE file(s) distributed with this work for additional
 * information regarding copyright ownership.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0
 *
 * SPDX-License-Identifier: EPL-2.0 or Apache-2.0
 */

/*
 * Usage: 
 * 
 * west build -d build_nrf9160dk_nrf9160_ns -b nrf9160dk_nrf9160_ns --pristine -- \
 *    -DOVERLAY_CONFIG="60min0-prj.conf;mikroe-prj.conf" -DDTC_OVERLAY_FILE="mikroe.overlay;ina219.overlay"
 *
 * Note: the INA219 modules may come with different I2C addresses and with different
 *       SHUNTs. That may require to adapt the DTS description.
 *
 *   A0 A1 I2C
 *   0  0  0x40
 *   1  0  0x41
 *   0  1  0x44
 *   1  1  0x45
 *
 *   lsb-microamp = <10>; // max. 300mA => max expected current / 2^15
 *
 *   See dts/bindings/sensor/ti,ina219.yaml
 */

&sensor_i2c {
	ina219_0: ina219@40 {
		// GY-INA219, 100 mOhm
		compatible = "ti,ina219";
		reg = <0x40>;
		brng = <0>;
		pg = <0>;
		sadc = <13>;
		badc = <13>;
		shunt-milliohm = <100>;
		lsb-microamp = <10>; // max. 300mA
		status = "okay";
	};

	ina219_1: ina219@45 {
		// Gravity, Wattmeter v2.1.0, , 10 mOhm
		compatible = "ti,ina219";
		reg = <0x45>;
		brng = <0>;
		pg = <0>;
		sadc = <13>;
		badc = <13>;
		shunt-milliohm = <010>;
		lsb-microamp = <10>; // max. 300mA
		status = "okay";
	};
};

