#
# Copyright (c) 2022 Achim Kraus CloudCoap.net
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
#
# SPDX-License-Identifier: EPL-2.0
#

menu "CoAP tinyDTLS Settings"

config COAP_SERVER_HOSTNAME
	string "CoAP server hostname."
	default "californium.eclipseprojects.io"

config COAP_SERVER_ADDRESS_STATIC
	string "CoAP server IP address (alternative, if DNS is not available)."
	default "20.47.97.44"

config COAP_SERVER_PORT
	int "CoAP server port number (UDP/TCP)."
	default "5683"

config COAPS_SERVER_PORT
	int "CoAP server port number (DTLS/TLS)."
	default "5684"

config DTLS_PSK_IDENTITY
	string "CoAP/DTLS PSK identity."
	default "cali.${imei}"
	help
	   "${imei}" is replaced by the modem's IMEI.
	   This only work with Californium's PlugTestServer,
	   which implements "wildcard" identities to
	   make it easier to connect.
	   Don't use this on production or other security
	   relevant use-cases. 

config DTLS_PSK_SECRET
	string "CoAP/DTLS PSK secret."
	default ".fornium"
	help
	   This only work with Californium's PlugTestServer,
	   and the "cali.*" wildcard identity.
	   Don't use this on production or other security
	   relevant use-cases. 

config COAP_SERVER_TRUST_CERTIFICATE
	string "CoAP server's trusted certificate."
	default "../cert/Californium.pem"

config DTLS_ALWAYS_HANDSHAKE
	bool "Use a DTLS handshake for request."
	default n
	help
	   Enable to use a DTLS handshake for each request.
	   Using DTLS 1.2 Connection ID obsoletes such
	   frequent handshakes.

config COAP_SEND_INTERVAL
	int "CoAP send interval in seconds. 0 disable"
	default 0

config COAP_FAILURE_SEND_INTERVAL
	int "CoAP send interval after failures in seconds. 0 to use send interval"
	default 0

config COAP_SEND_MODEM_INFO
	bool "Include modem infos in message."
	default y

config COAP_SEND_SIM_INFO
	bool "Include SIM infos in message."
	default y

config COAP_SEND_NETWORK_INFO
	bool "Include network infos in message."
	default y

config COAP_SEND_STATISTIC_INFO
	bool "Include statistic infos in message."
	default y

config COAP_NO_RESPONSE_ENABLE
	bool "Use CoAP NO_RESPONSE option for one-way message"
	default n

config COAP_RESOURCE
	string "CoAP resource - defaults to Californium's echo resource"
	default "echo"

config COAP_QUERY_DELAY_ENABLE
	bool "Enable CoAP query - delay=%d (delay response)"
	default n

config COAP_QUERY_RESPONSE_LENGTH
	string "Enable CoAP query - rlen=%d (response length)"

config COAP_QUERY_KEEP_ENABLE
	bool "Enable CoAP query - keep (keep payload)"
	default y

config COAP_QUERY_ACK_ENABLE
	bool "Enable CoAP query - ack (request separate response)"
	default n

config COAP_QUERY_SERIES_ENABLE
	bool "Enable CoAP query - series (keep payload series)"
	default n

config COAP_QUERY_READ_SUBRESOURCE_ENABLE
	bool "Enable CoAP query - read sub-resource"
	default n

config COAP_QUERY_READ_SUBRESOURCE
	string "Use CoAP query - read sub-resource"
	depends on COAP_QUERY_READ_SUBRESOURCE_ENABLE

config COAP_QUERY_WRITE_SUBRESOURCE_ENABLE
	bool "Enable CoAP query - write sub-resource"
	default n

config COAP_QUERY_WRITE_SUBRESOURCE
	string "Use CoAP query - write sub-resource"
	depends on COAP_QUERY_WRITE_SUBRESOURCE_ENABLE

config COAP_WAIT_ON_POWERMANAGER
	bool "Enable CoAP to wait for power-manager before sending"
	default n
	help
	   On startup, the power manager takes up to 30s to get the first 
	   battery values. Delay exchanging application message until that.

endmenu

menu "Modem Settings"

config LTE_LOCK_PLMN_CONFIG_SWITCH
	bool "LTE lock PLMN based on config switch"
	depends on !LTE_LOCK_PLMN && (BOARD_NRF9160DK_NRF9160 || BOARD_NRF9160DK_NRF9160_NS)
	default n

config LTE_LOCK_PLMN_CONFIG_SWITCH_STRING_1
	string "PLMN string for configuration switch 1"
	default "26201"
	depends on LTE_LOCK_PLMN_CONFIG_SWITCH
	help
		Mobile Country Code (MCC) and Mobile Network Code (MNC) values.
		Only numeric string formats supported.
		Default: Germany/Telekom

config LTE_LOCK_PLMN_CONFIG_SWITCH_STRING_2
	string "PLMN string for configuration switch 2"
	default "26202"
	depends on LTE_LOCK_PLMN_CONFIG_SWITCH
	help
		Mobile Country Code (MCC) and Mobile Network Code (MNC) values.
		Only numeric string formats supported.
		Default: Germany/Vodafone

config LTE_LOCK_PLMN_CONFIG_SWITCH_STRING_3
	string "PLMN string for configuration switch 3"
	default "26203"
	depends on LTE_LOCK_PLMN_CONFIG_SWITCH
	help
		Mobile Country Code (MCC) and Mobile Network Code (MNC) values.
		Only numeric string formats supported.
		Default: Germany/O2

config LTE_POWER_ON_OFF_ENABLE
	bool "Enable LTE Power On/Off Mode"
	default n

config LTE_POWER_ON_OFF_CONFIG_SWITCH
	bool "Enable LTE Power On/Off configuration switch"
	default n
	depends on !LTE_LOCK_PLMN_CONFIG_SWITCH && !LTE_POWER_ON_OFF_ENABLE && (BOARD_NRF9160DK_NRF9160 || BOARD_NRF9160DK_NRF9160_NS) 

config UDP_PSM_ENABLE
	bool "Enable LTE Power Saving Mode"
	depends on !UDP_POWER_ON_OFF_ENABLE
	default y

config UDP_AS_RAI_ENABLE
	bool "Enable LTE AS Release Assistance Indication"
	default y

config UDP_RAI_ENABLE
	bool "Enable LTE CP Release Assistance Indication (NB-IoT Rel. 13 only!)"
	depends on !UDP_AS_RAI_ENABLE
	default n

config UDP_PSM_CONNECT_RAT
	int "PSM RAT on connect"
	depends on UDP_PSM_ENABLE
	default 15

config UDP_PSM_RETRANS_RAT
	int "PSM RAT on retransmissions"
	depends on UDP_PSM_ENABLE
	default 30

config UDP_EDRX_ENABLE
	bool "Enable LTE eDRX"
	default y

config STATIONARY_MODE_ENABLE
	bool "Enable LTE stationary mode"
	default n

config MODEM_SAVE_CONFIG_THRESHOLD
	int "Modem save configuration threshold in seconds. 0s, don't save, 1s always save. Default 60s"
	default 60
	help
	   If the initial network connect takes more than the threshold,
	   the modem is short switched off and on again in order to save
	   the configuration. This speeds up the next start.

config MODEM_MULTI_IMSI_SUPPORT
	bool "Modem multi-IMSI support."
	default n
	help
	   Set default search timeout to 10 minutes.

config MODEM_SEARCH_TIMEOUT
	int "Modem search timeout in seconds."
	default 600 if LTE_MODE_PREFERENCE_NBIOT_PLMN_PRIO || LTE_MODE_PREFERENCE_LTE_M_PLMN_PRIO || MODEM_MULTI_IMSI_SUPPORT
	default 300 if LTE_MODE_PREFERENCE_NBIOT_PRIO || LTE_MODE_PREFERENCE_LTE_M_PRIO
	default 180

config MODEM_ICCID_LTE_M_PREFERENCE
	string "Modem ICCID header list for LTE-M preference."
	default ""
	help
	  List of ICCID header (first 5 digits), which only supports LTE-M.

config MODEM_ICCID_NBIOT_PREFERENCE
	string "Modem ICCID header list for NB-IoT preference."
	default ""
	help
	  List of ICCID header (first 5 digits), which only supports NB-IoT.

config MODEM_EPCO
    bool "Modem use EPCO."
	default y

config MODEM_FAULT_THRESHOLD
    int "Threshold for modem faults per week."
	default 2
	depends on NRF_MODEM_LIB_ON_FAULT_APPLICATION_SPECIFIC
	help
	   Threshold for modem faults per week to reboot the device.

config PROTOCOL_CONFIG_SWITCH
	bool "Enable protocol configuration switch"
	default n
	depends on !LTE_LOCK_PLMN_CONFIG_SWITCH && !LTE_POWER_ON_OFF_CONFIG_SWITCH && (BOARD_NRF9160DK_NRF9160 || BOARD_NRF9160DK_NRF9160_NS)

choice PROTOCOL_MODE
	prompt "Protocol mode"
	default PROTOCOL_MODE_DTLS
	help
	  Configure udp, dtls

config PROTOCOL_MODE_UDP
	bool "coap"
	help
	  Use coap over udp.

config PROTOCOL_MODE_DTLS
	bool "coaps"
	help
	  Use coap over dtls.

endchoice # BME680_BSEC_SAMPLE_MODE

endmenu

menu "Extra Functions"

config UART_RECEIVER
    bool "Use UART receiver for cmd and at-cmd."
	default n

config USE_IO_JOB_QUEUE
	bool "Use i/o job queue"
	default y

config SUSPEND_3V3
	bool "Low power mode, suspend 3.3V when sleeping"
	default y
	depends on !LOCATION_ENABLE

config SUSPEND_UART
	bool "Low power mode, suspend UART when sleeping"
	default y 
	depends on !UART_RECEIVER

config LOCATION_ENABLE
	bool "Enable GNSS Location"
	default n
	depends on LTE_NETWORK_MODE_LTE_M_NBIOT_GPS || LTE_NETWORK_MODE_LTE_M_GPS || LTE_NETWORK_MODE_NBIOT_GPS
	help
	   Enable GNSS location. Early development stage.
	   Does not support A-GPS for now. To start GNSS,
	   place the Thingy:91 outside in an open space.
	   Once the almanac data is downloaded from satelites, 
	   positions are start to be reported.

config LOCATION_ENABLE_CONTINUES_MODE
	bool "Enable GNSS Location Continues Mode"
	default y
	depends on LOCATION_ENABLE
	help
	   Enable GNSS location to run continues.
	   Without A-GPS the best positions are achieved
	   when the GPS runs mostly continuesly.
	   This requires a high current of 50mA!  

config LOCATION_ENABLE_TRIGGER_MESSAGE
	bool "Enable GNSS Location Triggers Message"
	default n
	depends on !LOCATION_ENABLE_CONTINUES_MODE && LOCATION_ENABLE
	help
	   Enable GNSS location to trigger a message

config BATTERY_ADC
	bool "Battery voltage ADC measurement"
	default y
	depends on GPIO && ADC && (BOARD_CIRCUITDOJO_FEATHER_NRF9160 || BOARD_CIRCUITDOJO_FEATHER_NRF9160_NS)
	help
	   Enable battery measurement

choice BATTERY_TYPE
	prompt "Battery type"
	default BATTERY_TYPE_LIPO_1350_MAH if (BOARD_THINGY91_NRF9160_NS || BOARD_THINGY91_NRF9160)
	default BATTERY_TYPE_LIPO_2000_MAH if (BOARD_CIRCUITDOJO_FEATHER_NRF9160 || BOARD_CIRCUITDOJO_FEATHER_NRF9160_NS)
	default BATTERY_TYPE_NONE
	help
	  Configure battery type.

config BATTERY_TYPE_LIPO_1350_MAH
	bool "LiPo 1350 mAh (Thingy:91)"

config BATTERY_TYPE_LIPO_2000_MAH
	bool "LiPo 2000 mAh"

config BATTERY_TYPE_ENELOOP_2000_MAH
	bool "Eneloop 2000 mAh"

config BATTERY_TYPE_NONE
	bool "No battery"

endchoice # BATTERY_TYPE

if SENSOR

if ADP536X

config ADP536X_POWER_MANAGEMENT
	bool "Enable ADP536X Power Management"
	default y
	help
	   Enable battery level and charging state monitor.

config ADP536X_POWER_MANAGEMENT_LOW_POWER
	bool "Enable ADP536X Power Management Sleeping Mode"
	default y
	depends on ADP536X_POWER_MANAGEMENT
	help
	   Enable power management sleeping mode. Check
	   battery level only every 8 minutes.
	   
endif # ADP536X

choice BATTERY_VOLTAGE_SOURCE
	prompt "Battery voltage source"
	default BATTERY_VOLTAGE_SOURCE_ADP536X if (BOARD_THINGY91_NRF9160_NS || BOARD_THINGY91_NRF9160)
	default BATTERY_VOLTAGE_SOURCE_ADC if (BOARD_CIRCUITDOJO_FEATHER_NRF9160 || BOARD_CIRCUITDOJO_FEATHER_NRF9160_NS)
	default BATTERY_VOLTAGE_SOURCE_MODEM
	help
	  Configure battery voltage source.

config BATTERY_VOLTAGE_SOURCE_ADP536X
	bool "Battery voltage source ADP536X (Thingy:91)"

config BATTERY_VOLTAGE_SOURCE_ADC
	bool "Battery voltage source ADC (feater nRF9160)"
	depends on BATTERY_ADC

config BATTERY_VOLTAGE_SOURCE_MODEM
	bool "Battery voltage source modem"

endchoice # BATTERY_VOLTAGE_SOURCE


config MOTION_SENSOR
    bool
    default y if ADXL362 || LIS2DH

if ADXL362

config MOTION_DETECTION
	bool "Enable Motion Detection"
	default y if ADXL362_TRIGGER
	help
	   Enable (indirect) motion detection using accelerometer.
	   More configuration options are available at 
	   "Zephyr Kernel > Device Drivers > Sensor Drivers > ADXL362 sensor"
endif # ADXL362

if LIS2DH

config MOTION_DETECTION
	bool "Enable Motion Detection"
	default y if LIS2DH_TRIGGER
	help
	   Enable (indirect) motion detection using accelerometer.
	   More configuration options are available at 
	   "Zephyr Kernel > Device Drivers > Sensor Drivers > LIS2DH Three Axis Accelerometer (LIS2DH)"

config MOTION_DETECTION_FILTER
	bool "Enable Motion Detection Filter"
	select LIS2DH_ACCEL_HP_FILTERS
	default y if LIS2DH_TRIGGER


endif # LIS2DH

if MOTION_DETECTION

config MOTION_DETECTION_LED
	bool "Enable Motion Detection LED"
	default n
	help
	   Enable LED to signal motion detection using accelerometer.

endif # MOTION_DETECTION

config BME680_BSEC
	bool "BME680 BSEC"
	depends on !BME680
	help
	  Use BME680 with Bosch BSEC library (IAQ Index Air Quality).
	  The library itself must be downloaded from Bosch Sensortec
	  and placed in "<ncs>/nrf/ext/BSEC_1.4.8.0_Generic_Release_updated_v3"
	  Disable "Zephyr Kernel > Device Drivers > Sensor Drivers > BME680 sensor"
	  in order to use the BME680 with the Bosch BSEC library! Enable 
	  the BME680 sensor to use it without the Bosch BSEC library! 

if BME680_BSEC

config BME680_BSEC_THREAD_STACK_SIZE
	int "BSEC thread stack size"
	default 4096

choice BME680_BSEC_SAMPLE_MODE
	prompt "Bosch BSEC sample mode"
	default BME680_BSEC_SAMPLE_MODE_LOW_POWER
	help
	  Configure sample interval. BSEC support 3s or 300s

config BME680_BSEC_SAMPLE_MODE_LOW_POWER
	bool "BSEC low power mode"
	help
	  Sample data from BSEC every 0.33333 Hz (3 second interval).

config BME680_BSEC_SAMPLE_MODE_ULTRA_LOW_POWER
	bool "BSEC ultra low power mode"
	help
	  Sample data from BSEC every 0.0033333 Hz (300 second interval).

endchoice # BME680_BSEC_SAMPLE_MODE

endif # BME680_BSEC

config ENVIRONMENT_SENSOR
    bool
    default y if BME680_BSEC || BME680 || SHT3XD || DS18B20

if ENVIRONMENT_SENSOR

config TEMPERATURE_OFFSET
	int "Temperature offset in degree celsius multiplied by 100."
	default 0
	help
	  Temperature offset. To account for external heat sources on the board.
	  The provided value is divided by 100. This is due to the Kconfig parser
	  not supporting floating point types.
	  Using CoAP / DTLS CID lowers the energy consumption and also the 
	  self-heating a lot. Therefore the default value of 120 for the Thingy:91
	  is set to 0.

endif # ENVIRONMENT_SENSOR

if BME680 || SHT3XD || DS18B20

config SAMPLE_INTERVAL_S
	int "Minimal sample interval for environment sensor in seconds."
	default 10

endif # BME680 || SHT3XD || DS18B20

endif # SENSOR

config SHT21
	bool "SHT21 external temperature sensor"
	depends on I2C && !ENVIRONMENT_SENSOR
	help
	  Use external SHT21 for temperature. 

endmenu

if ENVIRONMENT_SENSOR || SHT21

config ENVIRONMENT_HISTORY_SIZE
	int "Environment history size. 0 to disable history."
	default 12

config ENVIRONMENT_HISTORY_INTERVAL_S
	int "Environment history interval in seconds"
	default 30


endif

# Logging
module = COAP_CLIENT
module-str = CoAP Client
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

module = UI
module-str = UI
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

module = MODEM
module-str = Modem
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

if FLASH || EEPROM
module = STORAGE
module-str = Storage
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
endif

if LOCATION_ENABLE
module = GNSS_CLIENT
module-str = GNSS Client
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"
endif

source "${ZEPHYR_BASE}/subsys/logging/Kconfig.formatting"

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
