#
# Copyright (c) 2022 Achim Kraus CloudCoap.net
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License 2.0 which is available at
# http://www.eclipse.org/legal/epl-2.0
#
# SPDX-License-Identifier: EPL-2.0
#

menu "CoAP tinyDTLS Settings"

config COAP_SERVER_HOSTNAME
	string "CoAP server hostname"
	default "californium.eclipseprojects.io"

config COAP_SERVER_ADDRESS_STATIC
	string "CoAP server IP address (alternative, if DNS is not available)"
	default "35.185.40.182"

config COAP_SERVER_PORT
	int "CoAP server port number (DTLS)"
	default "5684"

config COAP_RESOURCE
	string "CoAP resource - defaults to Californium's echo resource"
	default "echo"

config COAP_QUERY_DELAY_ENABLE
	bool "Enable CoAP query - delay=%d"
	default n

config COAP_QUERY_KEEP_ENABLE
	bool "Enable CoAP query - keep"
	default y

config UDP_PSM_ENABLE
	bool "Enable LTE Power Saving Mode"
	default y

config UDP_EDRX_ENABLE
	bool "Enable LTE enhanced Discontinuous Reception"
	default n

config UDP_RAI_ENABLE
	bool "Enable LTE Release Assistance Indication"
	default y

config LOCATION_ENABLE
	bool "Enable GNSS Loaction"
	default n
	select CJSON_LIB
	select LOCATION
	select LOCATION_METHOD_GNSS

if ADP536X

config ADP536X_POWER_MANAGEMENT
	bool "Enable ADP536X Power Management"
	default y

endif # ADP536X

endmenu



if SENSOR
	rsource "src/ext_sensors/Kconfig"
endif # SENSOR

# Logging
module = COAP_CLIENT
module-str = CoAP Client
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

source "${ZEPHYR_BASE}/subsys/logging/Kconfig.formatting"

menu "Zephyr Kernel"
source "Kconfig.zephyr"
endmenu
