#
# Copyright (c) 2021 Nordic Semiconductor
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#
# Origin:
# https://github.com/nrfconnect/sdk-nrf/blob/v1.9.1/applications/asset_tracker_v2/src/ext_sensors/KConfig

menuconfig EXTERNAL_SENSORS
	bool "External sensors"

if EXTERNAL_SENSORS

config EXTERNAL_SENSORS_ACTIVITY_DETECTION_AUTO
	bool "Start activity detection automatically"
	help
	  Enable this option to start activity detection when the library is initialized.
	  If the option is disabled, the accelerometer trigger handler must manually be enabled to
	  detect activity.

module = EXTERNAL_SENSORS
module-str = External sensors
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # EXTERNAL_SENSORS
