# sudo cp 50* /etc/udev/rules.d
# 2fe3:0204 NordicSemiconductor IFMCU CMSIS-DAP
SUBSYSTEM=="usb", ATTR{idVendor}=="2fe3", ATTR{idProduct}=="0204", MODE:="666"
