# Circuit Dojo nRF9161 Feather configuration

# Copyright (c) 2018-2024 Nordic Semiconductor ASA
# Copyright (c) 2020-2024 Circuit Dojo LLC
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF9161_LACA

config BOARD_CIRCUITDOJO_FEATHER_NRF9161
	bool "Circuit Dojo nRF9161 Feather"

config BOARD_CIRCUITDOJO_FEATHER_NRF9161_NS
	bool "Circuit Dojo nRF9161 Feather non-secure"

endif # SOC_NRF9161_LACA
